<% unless current_user.rents == [] %>
<div class="wrapper">
  <div class="container make-it-flex">
    <div>
      <% rent = current_user.rents.first %>
      <h1><%= rent.bike.user.first_name %>'s Bike is your <br> bike until <%= rent.end_date.strftime('%m-%e-%y %H:%M') %></h1>
      <div class="return">
        <h3>Return the bike to: </h3>
        <p>   <%= rent.bike.user.address %></p>
      </div>
    </div>
    <div class='bike-img'>
      <%= image_tag 'adriana-gomez-407862-unsplash', class: 'img-tag' %>
    </div>
  </div>
</div>
<% end %>
<% if current_user.bikes == [] %>
  <div class="text-center make-space">
    <h6>Have a spare bike?</h6>
      <%= link_to "Add a Bike", new_bike_path, class: 'btn btn-danger' %>
  </div>
<% end %>
