<div class="container">
  <% user = current_user %>
    <% user.bikes.each do |bike|%>
  <div class="tabs">
    <ul class="bikelist">
      <li class="bikebox">
        <%= cl_image_tag(bike.photo, width: 160, height: 160, crop: :thumb) %>
            <div class="renter-name">
              <p>RENTED BY</p>
              <h3> <%= @user.first_name %></h3>
            </div>
            <div class="start-date">
              <%= @start_date.try(:strftime, '%m-%e-%y') %>
            </div>
            <div cass="end-date">
              <%= @end_date.try(:strftime, '%m-%e-%y') %>

            </div>
            <div class="edit-delete">
            <%= link_to "EDIT BIKE", edit_bike_path, class: "fab fa-edit" %>
            <%= link_to "DELETE BIKE", user_path, class: "fab fa-trash-alt" %>
            </div>
      </li>
    </ul>
  </div>
  <% end %>
</div>
