<%= simple_form_for(@bike) do |f| %>
  <%= f.input :brand %>
  <%= f.input :address %>
  <%= f.input :price %>

  <div class="select-container">
    <%= f.label :kind %>
    <%= f.select(:kind, @bike.kind_options) %>
    <%= f.label :size %>
    <%= f.select(:size, @bike.size_options) %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>

  <%= f.submit %>

<% end %>

