<%= simple_form_for(@bike) do |f| %>
  <%= f.input :brand %>
  <%= f.input :address %>
  <%= f.input :price %>

  <div class="select-container">
    <%= f.label :kind %>
    <%= f.select(:kind, @bike.kind_options) %>
    <%= f.label :size %>
    <%= f.select(:size, @bike.size_options) %>
    <%= f.input :photo %>
  </div>
  <br>

  <%= f.submit "Add your Bike", :class =>"btn btn-primary btn-block" %>
  <br>
  <br>

<% end %>

