<h1>This is the bike you want to look at</h1>

<ul>
  <li><%= @bike.kind %></li>
  <ul>
    <li><%= @bike.brand %></li>
    <li><%= @bike.size %></li>
    <li><%= @bike.address %></li>
    <li>$<%= @bike.price %></li>
  </ul>
</ul>
